.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Cabin Condensed",Cabin,arial,verdana !important;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}
.main-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
