body {
    font-family: "Cabin Condensed",Cabin,arial,verdana !important;
}

.logo {
    width: 37vw;
    max-width: 470px;
    min-width: 300px;
    margin: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 740px;
}
.main-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 21px;
    /* font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif; */
}