body {
  font-family: "Cabin Condensed",Cabin,arial,verdana !important;
}
.box-up {
  background-color: #FFF;
  margin-bottom: 15px;
  margin-top: 15px;
  /* height: 335px; */
}

.box-down {
  background-color: #FFF;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 400px;
}

.indicator-item {
  padding: 12px 30px;
  display: flex;
  width: 100%;
  margin-bottom: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e6e5e5;
}

.indicator-item-icon {
  padding: 12px 30px;
  display: flex;
  width: 100%;
  margin-bottom: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

}

.indicator-number{
  text-align: right;
}

.statistic-number{
  font-size: 25px;
  float: right;
}

.user-stats {
  padding: 0;
  background-color: #FFF;
  margin-bottom: 29px;
}

.user-stats-id {
  padding: 32px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-title {
  padding-top: 32px;
  padding-left: 32px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-stats-avatar {
  position: relative;
  margin-right: 12px;
}

.user-stats-info {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.user-stats-indicators {
  padding: 5px 32px 32px;
}

.user-stats-indicator-counter {
  font-size: 1.23077rem;
  color: #2cc185;
}

.user-stats-indicator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .615385rem 0;
}

.user-stats-milestone {
  padding: 6px 32px 51.2px;
}

.user-stats-more-details {
  display: block;
  padding: 18px 32px;
  font-size: 1.077rem;
  text-align: center;
  color: #545454;
  background-color: #fafafa;
}

.user-stats-avatar img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.user-stats-status-indicator.online {
    background-color: #2cc185;
}

.project-list-title {
  font-size: 1.38462rem;
  margin-bottom: 28px;
}

.project-item {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFF;
  padding: 23px;
  margin-bottom: .923077rem;
}

.project-item-title {
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 5px;
}

.project-item-user {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 40%;
    flex: 0 1 25%;
    padding-right: 5px;
}

.project-item-user .user-avatar {
  margin-right: 12px;
}

.project-item-user .user-avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.project-item-user .user-info {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

ul {
  list-style-type: none;

}

body {
  background-color: #f4f4f4;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p{
  display: inline-block;
  margin: 0;
}