.header-intro {
    color: white;
    background-color: #26a69a;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.next-about {
    background-color: #9b59b6;
}

.app-img {
    margin: 20px;
    max-width: 90%;
    border-radius: 10px;
}

.portfolio-section {
    background-color: #74b9ff;
}

.portfolio-topic {
    font-size: 25px;
}

.top-commit-container {
    margin: 20px;
}

.top-commit-card {
    width: 250px;
    min-width: 250px;
}

.commit-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.commit-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 20px;
}

.commit-list {
    margin: 0 !important;
}

.top-committer-title {
    text-align: center;
}

.document-list {
    width: 100% !important;
}

.document-row {
    display: flex;
    justify-content: center;
}

.document-text:hover {
    text-decoration: none !important;
}

.document-card {
    margin: 20px;
}

.planning-container {
    display: flex;
}

.planning-row {
    display: flex;
    justify-content: center;
    width: 50%;
}

.github-icon {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: none;
        color: lighten(black, 20%);
    }
}

.repo-container {
    display: flex;
}

.repo-list {
    width: 50%;
    margin: 20px;
}